<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Report Generation</h1>

    <form action="/agentSummary" method = "POST">
        <input type = "text" name = "agentID" placeholder="Agent ID">
        <input type="submit" value="Agent Summary" />
    </form>

    <form action="/agentTransactions" method = "POST">
        <input type = "text" name = "agentID" placeholder="Agent ID">
        <input type = "text" name = "year" placeholder="year">
        <input type = "text" name = "month" placeholder="month">
        <input type="submit" value="Agent Transactions" />
    </form>

    <form action="/accountSummary" method = "POST">
        <input type = "text" name = "accountNo" placeholder="Account Number">
        <input type="submit" value="Account Summary" />
    </form>

    <form action="/accountTransactions" method = "POST">
        <input type = "text" name = "accountNo" placeholder="Account Number">
        <input type = "text" name = "year" placeholder="year">
        <input type = "text" name = "month" placeholder="month">
        <input type="submit" value="Account Transactions" />
    </form>

    <% if(type === "agentSummary"){ %>
        <p>Agent Summary - <%=agentID%></p>
        <table>
            <tr>
                <th>Month</th>
                <th>Transactions</th>
                <th>Withdrawals</th>
                <th>Deposits</th>
            </tr>
            <% for(let [key, value] of Object.entries(data)){ %>
                <tr>
                    <td><%=key%></td>
                    <td><%=value.trans%></td>
                    <td><%=value.with%></td>
                    <td><%=value.dep%></td>
                </tr>
            <% } %>
        </table>
    <% } %>

    <% if(type === "agentTransactions"){ %>
        <p>Agent Transactions - <%=agentID%></p>
        <table>
            <tr>
                <th>Month</th>
                <th>Account No</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            <% for(let value of data){ %>
                <tr>
                    <td><%=value.month%></td>
                    <td><%=value.number%></td>
                    <td><%=value.type%></td>
                    <td><%=value.amount%></td>
                    <td><%=value.date%></td>
                </tr>
            <% } %>
        </table>
    <% } %>

    <% if(type === "accountSummary"){ %>
        <p>Account Summary - <%=accountNumber%></p>
        <table>
            <tr>
                <th>Month</th>
                <th>Transactions</th>
                <th>Withdrawals</th>
                <th>Deposits</th>
            </tr>
            <% for(let [key, value] of Object.entries(data)){ %>
                <tr>
                    <td><%=key%></td>
                    <td><%=value.trans%></td>
                    <td><%=value.with%></td>
                    <td><%=value.dep%></td>
                </tr>
            <% } %>
        </table>
    <% } %>

    <% if(type === "accountTransactions"){ %>
        <p>Account Transactions - <%accountNumber%></p>
        <table>
            <tr>
                <th>Month</th>
                <th>Agent ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            <% for(let value of data){ %>
                <tr>
                    <td><%=value.month%></td>
                    <td><%=value.agentID%></td>
                    <td><%=value.type%></td>
                    <td><%=value.amount%></td>
                    <td><%=value.date%></td>
                </tr>
            <% } %>
        </table>
    <% } %>

</body>
</html>